.holder {
    transition: ease-in-out 0.3s;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}